In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\Bhargavi\Downloads\reviews_data_dump\reviews_badminton\data.csv")

In [3]:
df.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [4]:
df.shape

(8518, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [6]:
df.describe()

          Up Votes   Down Votes      Ratings
count  8508.000000  8508.000000  8518.000000
mean      0.391396     0.121768     4.181028
std      11.613909     3.248022     1.262200
min       0.000000     0.000000     1.000000
25%       0.000000     0.000000     4.000000
50%       0.000000     0.000000     5.000000
75%       0.000000     0.000000     5.000000
max     889.000000   219.000000     5.000000

In [7]:
df.isnull().sum()

Reviewer Name       10
Review Title        10
Place of Review     50
Up Votes            10
Down Votes          10
Month              465
Review text          8
Ratings              0
dtype: int64

In [8]:
df.duplicated().sum()

4

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.isnull().sum()

Reviewer Name        6
Review Title         6
Place of Review     46
Up Votes             6
Down Votes           6
Month              461
Review text          4
Ratings              0
dtype: int64

In [11]:
df["Review text"]=df[["Review text"]].fillna("Review not specified")

In [12]:
df

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1
...,...,...,...,...,...,...,...,...
8509,NaN,NaN,NaN,NaN,NaN,NaN,Not sure why we have charged for this product ...,1
8510,NaN,NaN,NaN,NaN,NaN,NaN,Review not specified,1
8512,NaN,NaN,NaN,NaN,NaN,NaN,Review not specified,2
8513,NaN,NaN,NaN,NaN,NaN,NaN,Review not specified,5
8515,NaN,NaN,NaN,NaN,NaN,NaN,Review not specified,4

In [13]:
df['Ratings'] = df['Ratings'].apply(lambda x: "Positive" if x >= 3 else 'Negative')

In [14]:
df['Ratings'].value_counts()

Positive    7440
Negative    1074
Name: Ratings, dtype: int64

In [15]:
df['Ratings']= df['Ratings'].map({"Positive":1,"Negative":0})

In [16]:
df['Review text'] = df['Review text'].str.replace('READ MORE', '')

In [17]:
df[['Review text']]

                                            Review text
0     Nice product, good quality, but price is now r...
1     They didn't supplied Yonex Mavis 350. Outside ...
2     Worst product. Damaged shuttlecocks packed in ...
3     Quite O. K. , but nowadays  the quality of the...
4     Over pricedJust â?¹620 ..from retailer.I didn'...
...                                                 ...
8509  Not sure why we have charged for this product ...
8510                               Review not specified
8512                               Review not specified
8513                               Review not specified
8515                               Review not specified

[8514 rows x 1 columns]

In [18]:
data=df[["Review text","Ratings"]]

In [19]:
data

                                            Review text  Ratings
0     Nice product, good quality, but price is now r...        1
1     They didn't supplied Yonex Mavis 350. Outside ...        0
2     Worst product. Damaged shuttlecocks packed in ...        0
3     Quite O. K. , but nowadays  the quality of the...        1
4     Over pricedJust â?¹620 ..from retailer.I didn'...        0
...                                                 ...      ...
8509  Not sure why we have charged for this product ...        0
8510                               Review not specified        0
8512                               Review not specified        0
8513                               Review not specified        1
8515                               Review not specified        1

[8514 rows x 2 columns]

In [20]:
X=data[["Review text"]]
y=data["Ratings"]

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0, stratify=y)

In [22]:
import mlflow

mlflow.set_experiment("Sentiment_Analysis")

<Experiment: artifact_location='file:///C:/Users/Bhargavi/1240928%28IN%29/Sentiment_analysis/ml_flow_task/mlruns/512433441115102975', creation_time=1711958037269, experiment_id='512433441115102975', last_update_time=1711958037269, lifecycle_stage='active', name='Sentiment_Analysis', tags={}>

In [23]:
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler, MinMaxScaler

from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import GridSearchCV

from sklearn.pipeline import Pipeline

In [24]:
def preprocess(raw_text,flag):
    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)
    
    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens =nltk.word_tokenize(sentence)
    
      # Lemmatize
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    
    # remove stop words                
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in lemmatized_tokens if word.lower() not in stop_words]
    
     # Join and return
    return " ".join(filtered_tokens)

In [25]:
pip install tqdm

Requirement already satisfied: tqdm in c:\users\bhargavi\anaconda3\lib\site-packages (4.65.0)
Requirement already satisfied: colorama in c:\users\bhargavi\anaconda3\lib\site-packages (from tqdm) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [26]:
from tqdm import tqdm, tqdm_notebook

In [27]:
tqdm.pandas()

In [28]:
X_train

                                            Review text
3959                                       Nice specify
4721                                               good
7681                                      Cork not good
6271  good quality..... but green one is the slow on...
2926                                               Good
...                                                 ...
2365  Product quality is very good but price is a bi...
29                                         good product
3912                                              Gud 1
7516                 Good shuttles and affordable price
277                                           Excellent

[6385 rows x 1 columns]

In [29]:
pip install nltk

Requirement already satisfied: nltk in c:\users\bhargavi\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\bhargavi\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\bhargavi\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\bhargavi\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\bhargavi\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\bhargavi\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [31]:
nltk.download('stopwords')
# Downloading wordnet before applying Lemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Bhargavi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Bhargavi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Bhargavi\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [32]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Bhargavi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [33]:
## initialise the inbuilt Stemmer
stemmer = PorterStemmer()

## We can also use Lemmatizer instead of Stemmer
lemmatizer = WordNetLemmatizer()

In [34]:
temp_df = X_train['Review text'].progress_apply(lambda x: preprocess(x,"lemma"))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 6385/6385 [00:07<00:00, 815.90it/s]

3959                                         nice specify
4721                                                 good
7681                                            cork good
6271    good quality green one slow one single u wante...
2926                                                 good
Name: Review text, dtype: object

In [35]:
X_train.columns = ["clean_text"]
X_train.head()

                                             clean_text
3959                                       Nice specify
4721                                               good
7681                                      Cork not good
6271  good quality..... but green one is the slow on...
2926                                               Good

In [36]:
temp_df = X_test['Review text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|████████████████████████████████████████████████████████████████████████████| 2129/2129 [00:01<00:00, 1194.41it/s]

2613    go buy nearest store good breaking quickly bad...
7341                                              useless
3031                                good quality expected
6668                                                 nice
4822                                         nice product
Name: Review text, dtype: object

In [37]:
X_test.columns = ["clean_text"]
X_train.head()

                                             clean_text
3959                                       Nice specify
4721                                               good
7681                                      Cork not good
6271  good quality..... but green one is the slow on...
2926                                               Good

In [38]:
X_train.shape

(6385, 1)

In [39]:
X_test.shape

(2129, 1)

In [40]:
y_train.shape

(6385,)

In [41]:
# import the different classifiers from sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

In [42]:
import warnings

warnings.filterwarnings('ignore')

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [45]:
pipelines = {
    'naive_bayes': Pipeline([
        ('vectorization', CountVectorizer()),
        ('classifier', MultinomialNB())
    ]),
    'decision_tree': Pipeline([
        ('vectorization', CountVectorizer()),
        ('classifier', DecisionTreeClassifier())
    ]),
    'logistic_regression': Pipeline([
        ('vectorization', CountVectorizer()),
        ('classifier', LogisticRegression(max_iter=1000))
    ])
}

In [46]:
param_grids = {
    'naive_bayes': [
        {
            'vectorization': [CountVectorizer()],
            'vectorization__max_features' : [1000, 1500, 2000, 5000], 
            'classifier__alpha' : [1, 10]
        }
    ],
    'decision_tree': [
        {
            'vectorization': [CountVectorizer(), TfidfVectorizer()],
            'vectorization__max_features' : [1000, 1500, 2000, 5000],
            'classifier__max_depth': [None, 5, 10]
        }
    ],
    'logistic_regression': [
        {
            'vectorization': [CountVectorizer(), TfidfVectorizer()],
            'vectorization__max_features' : [1000, 1500, 2000, 5000], 
            'classifier__C': [0.1, 1, 10], 
            'classifier__penalty': ['elasticnet'], 
            'classifier__l1_ratio': [0.4, 0.5, 0.6],
            'classifier__solver': ['saga'],
            'classifier__class_weight': ['balanced']
        }
    ]
}

In [47]:
best_models = {}

for algo in pipelines.keys():
    print("*"*10, algo, "*"*10)
    grid_search = GridSearchCV(estimator=pipelines[algo], 
                               param_grid=param_grids[algo], 
                               cv=5, 
                               scoring='f1', 
                               return_train_score=True,
                               verbose=1
                              )
    mlflow.sklearn.autolog(max_tuning_runs=None)
    
    with mlflow.start_run() as run:
        %time grid_search.fit(X_train["clean_text"], y_train)
    
    print('Score on Test Data: ', grid_search.score(X_test["clean_text"], y_test))

********** naive_bayes **********

2024/04/25 14:57:13 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial message can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|silent|none|n|0: for no message or exception
    - warn|w|warning|log|l|1: for a warning message (logged at level CRITICAL, displayed by default)
    - error|e|exception|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

2024/04/25 14:57:13 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Fitting 5 folds for each of 8 candidates, totalling 40 fits
CPU times: total: 7.8 s
Wall time: 25.2 s
Score on Test Data:  0.9533954727030626
********** decision_tree **********

2024/04/25 14:57:39 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Fitting 5 folds for each of 24 candidates, totalling 120 fits
CPU times: total: 39.5 s
Wall time: 1min 46s
Score on Test Data:  0.9510825982357659
********** logistic_regression **********

2024/04/25 14:59:27 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Fitting 5 folds for each of 72 candidates, totalling 360 fits
CPU times: total: 27min 58s
Wall time: 1h 13min 13s
Score on Test Data:  0.9512799339388935

In [48]:
import time
import joblib
import os

In [49]:
dev="Bhargavi"
best_models = {}

for algo in pipelines.keys():
    print("*"*10, algo, "*"*10)
    grid_search = GridSearchCV(estimator=pipelines[algo], 
                               param_grid=param_grids[algo], 
                               cv=5, 
                               scoring='f1', 
                               return_train_score=True,
                               verbose=1
                              )
    
   # Fit
    start_fit_time = time.time()
    grid_search.fit(X_train["clean_text"], y_train)
    end_fit_time = time.time()

    # Predict
    start_predict_time = time.time()
    y_pred = grid_search.predict(X_test["clean_text"])
    end_predict_time = time.time()

    # Saving the best model
    joblib.dump(grid_search.best_estimator_, f"C:\\Users\\Bhargavi\\1240928(IN)\\Sentiment_analysis\\ml_flow_task\\best_models\\{algo}.pkl")
    model_size = os.path.getsize(f"C:\\Users\\Bhargavi\\1240928(IN)\\Sentiment_analysis\\ml_flow_task\\best_models\\{algo}.pkl")
   

    # Pring Log
    print('Train Score: ', grid_search.best_score_)
    print('Test Score: ', grid_search.score(X_test["clean_text"], y_test))
    print("Fit Time: ", end_fit_time - start_fit_time)
    print("Predict Time: ", end_predict_time - start_predict_time)
    print("Model Size: ", model_size)
    
    print()

    # Start the experiment run
    with mlflow.start_run() as run:
        # Log tags with mlflow.set_tag()
        mlflow.set_tag("developer", dev)

        # Log Parameters with mlflow.log_param()
        mlflow.log_param("algorithm", algo)
        mlflow.log_param("hyperparameter_grid", param_grids[algo])
        mlflow.log_param("best_hyperparameter", grid_search.best_params_)

        # Log Metrics with mlflow.log_metric()
        mlflow.log_metric("train_score", grid_search.best_score_)
        mlflow.log_metric("test_score", grid_search.score(X_test["clean_text"], y_test))
        mlflow.log_metric("fit_time", end_fit_time - start_fit_time)
        mlflow.log_metric("predict_time", end_predict_time - start_predict_time)
        mlflow.log_metric("model_size", model_size)

        # Log Model using mlflow.sklearn.log_model()
        mlflow.sklearn.log_model(grid_search.best_estimator_, f"{algo}_model")

2024/04/25 16:13:56 INFO mlflow.utils.autologging_utils: Created MLflow autologging run with ID 'b80bdaadcedd4b5d97e7082c8f059aa3', which will track hyperparameters, performance metrics, model artifacts, and lineage information for the current sklearn workflow
2024/04/25 16:13:56 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

********** naive_bayes **********
Fitting 5 folds for each of 8 candidates, totalling 40 fits

2024/04/25 16:14:10 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Train Score:  0.9538551425433521
Test Score:  0.9533954727030626
Fit Time:  13.338910341262817
Predict Time:  0.030872821807861328
Model Size:  143418

2024/04/25 16:14:14 INFO mlflow.utils.autologging_utils: Created MLflow autologging run with ID '8e3307e48a2e40cda20ff34bb1f8bdfc', which will track hyperparameters, performance metrics, model artifacts, and lineage information for the current sklearn workflow
2024/04/25 16:14:14 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

********** decision_tree **********
Fitting 5 folds for each of 24 candidates, totalling 120 fits

2024/04/25 16:15:15 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Train Score:  0.9588084889091218
Test Score:  0.9523809523809523
Fit Time:  61.126291275024414
Predict Time:  0.03878903388977051
Model Size:  105536

2024/04/25 16:15:21 INFO mlflow.utils.autologging_utils: Created MLflow autologging run with ID '99c1a92aafcf47f3903475b6814fc987', which will track hyperparameters, performance metrics, model artifacts, and lineage information for the current sklearn workflow
2024/04/25 16:15:21 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

********** logistic_regression **********
Fitting 5 folds for each of 72 candidates, totalling 360 fits

2024/04/25 18:10:30 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Train Score:  0.9533840412676062
Test Score:  0.9512799339388935
Fit Time:  6908.973592758179
Predict Time:  0.1164252758026123
Model Size:  82733